#id {
    margin-top: 75px;
    margin-bottom: 0px;
    padding: 5px;
}


body {
    font-family: sans-serif;;
}

.thumbnail img {
    max-height: 150px;
}


.price {
    font-weight: bold;
    font-size: 16px;
}
#navbar-red.navbar-default { /* #990033 - #cc0033 */
    font-size: 14px;
    background-color: rgba(153, 0, 51, 1);
    background: -webkit-linear-gradient(top, rgba(204, 0, 51, 1) 0%, rgba(153, 0, 51, 1) 100%);
    background: linear-gradient(to bottom, rgba(204, 0, 51, 1) 0%, rgba(153, 0, 51, 1) 100%);
    border: 0px;
	border-radius: 0;
}
#navbar-red.navbar-default .navbar-nav>li>a:hover,
#navbar-red.navbar-default .navbar-nav>li>a:focus,
#navbar-red.navbar-default .navbar-nav>li>ul>li>a:hover,
#navbar-red.navbar-default .navbar-nav>li>ul>li>a:focus,
#navbar-red.navbar-default .navbar-nav>.active>a,
#navbar-red.navbar-default .navbar-nav>.active>a:hover,
#navbar-red.navbar-default .navbar-nav>.active>a:focus {
	color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
}
#sidebar-red, #column-red {
  	background-color: #990033;
}
#navbar-red.navbar-default .navbar-toggle {
    border-color: #2F4F4F;
}
#navbar-red.navbar-default .navbar-toggle:hover,
#navbar-red.navbar-default .navbar-toggle:focus {
    background-color: #9933FF;
}
#navbar-red.navbar-default .navbar-nav>li>a,
#navbar-red.navbar-default .navbar-nav>li>ul>li>a,
#navbar-red.navbar-default .navbar-brand {
    color: black;
}
#navbar-red.navbar-default .navbar-toggle .icon-bar,
#navbar-red.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-red.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

#cont {
    margin-top: 70px;
}

#row {
    margin-top: 120px;
}

#row_home {
    margin-top: 70px;
    margin-right: 10px;
}

.repeat-animation.ng-enter-stagger,
.repeat-animation.ng-leave-stagger {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    -ms-transition-duration: 0;
    -o-transition-duration: 0;
    transition-duration: 0;
}

.repeat-animation.ng-enter {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    -ms-opacity: 0;
    opacity: 0;
}


.repeat-animation.ng-enter.ng-enter-active {
    -ms-opacity: 1;
    opacity: 1;
}

.repeat-animation.ng-leave {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;
    -ms-opacity: 1;
    opacity: 1;
}

    .repeat-animation.ng-leave.ng-leave-active {
        -ms-opacity: 0;
        opacity: 0;
    }

    .buttondemoBasicUsage section {
      background: #f7f7f7;
      border-radius: 3px;
      text-align: center;
      margin: 1em;
      position: relative !important;
      padding-bottom: 10px; }

    .buttondemoBasicUsage md-content {
      margin-right: 7px; }

    .buttondemoBasicUsage section .md-button {
      margin-top: 16px;
      margin-bottom: 16px; }

    .buttondemoBasicUsage .label {
      position: absolute;
      bottom: 5px;
      left: 7px;
      font-size: 14px;
      opacity: 0.54;
  }


  .addAni {
      transition: all linear 0.25s;
      height: 515px;
  }
  .ng-hide {
      height: 0px;
      color: white;
  }
